    <!doctype html>
    <html>
    <head>
      {% block head %}
      <title>4 Scheduler</title>
      <link rel="icon" href="http://umich.edu/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{{url_for('static',filename="style.css")}}">

    </head>

    {% endblock %}

    <body>
      <div class="container-fluid">
        <div class="header">
          <h1> <b> 4 Scheduler </b> </h1></div>

          <div class="content">{% block content %}{% endblock %}
          </div>

          <div class="footer">{% block footer %} 
            <p><br><br><br><br>
          Copyright&nbsp;©&nbsp;2014, 4 Scheduler.
           </p> 
           {% endblock %}
          </div>
        </div>
      </div>
    </body>
    </html>