{% extends "base.html" %}

{% block content %}
<div id="page">
	<nav class="navbar navbar-inverse" role="navigation">
		<div id= "navbar">
			<ul class="nav navbar-nav">
				<li align="left" class="navbar-brand" id="name">4 Scheduler</li>
				<li><a href = "/">Terms</a><li>
					<li><a href = "/{{TermCode}}">Schools</a></li>
					<li><a href = "/{{TermCode}}/{{SchoolCode}}">Subjects</a></li>
					<li class="active"><a href = "/{{TermCode}}/{{SchoolCode}}/{{SubjectCode}}">Courses<span class="sr-only">(current)</span></a></li>
					<li role="presentation" class="disabled"><a href = "#" class="disabled">Details</a></li>
						</ul>
			<ul class="nav navbar-nav navbar-right col-sm-1">
				<li><a href="/backpack" target="_blank">Backpack</a><li>
					</ul>

				</div></nav>

				<div id="current"><h3>
					{% for term in terms %}
					{% if term['TermCode'] == TermCode %}
					{{term['TermDescr']}}
					{% endif %}
					{% endfor %}<br>

					{% for school in schools %}
					{% if school['SchoolCode'] == SchoolCode %}
					{{school['SchoolDescr']}}
					{% endif %}
					{% endfor %}<br>

					{% for subject in subjects %}
					{% if subject['SubjectCode'] == SubjectCode %}
					{{subject['SubjectDescr']}}
					{% endif %}
					{% endfor %}</div><br></h3>

					<div class="panel panel-default  col-sm-4 col-sm-offset-4">
						<div class="panel-heading">
							<h4 class="panel-title">Classes Offered:</h4>
						</div>
						<div class="panel-body" align="left">
							{% for course in courses %}
							<table class="table table-striped">
								<tr>
									<td>
										<a href = "/{{TermCode}}/{{SchoolCode}}/{{SubjectCode}}/{{ course['CatalogNumber'] }}"> 
											{{ SubjectCode }} {{ course['CatalogNumber'] }} - {{ course['CourseDescr']}} </a>
										</td>
									</tr>
								</table>
								{% endfor %}
							</div>
						</div>
						<div class="col-sm-4"></div>
					</div>



						{% if api_error %}
						<b>Getting the API terms failed!</b>
						Did you set the API token?
						{% endif %}
					</div>
					{% endblock %}
