{% extends "base.html" %}

{% block content %}



{% for term in terms %}
	{% if term['TermCode'] == TermCode %}
		<h1>{{term['TermDescr']}}</h1>
	{% endif %}
{% endfor %}

{% for school in schools %}
	{% if school['SchoolCode'] == SchoolCode %}
		<h2>{{school['SchoolDescr']}}</h2>
	{% endif %}
{% endfor %}

{% for subject in subjects %}
	{% if subject['SubjectCode'] == SubjectCode %}
		<h2>{{ subject['SubjectDescr']}}</h2>
	{% endif %}
{% endfor %}

{% for course in courses %}
	<a href = "/terms/{{TermCode}}/schools/{{SchoolCode}}/subjects/{{SubjectCode}}/courses/{{course['CatalogNumber']}}">{{SubjectCode}} {{ course['CatalogNumber']}} - {{course['CourseDescr']}}</a>	<br>	
{% endfor %}

{% if api_error %}
<b>Getting the API terms failed!</b>
Did you set the API token?
{% endif %}


{% endblock %}