{% extends "base.html" %}

{% block content %}

{% for term in terms %}
	{% if term['TermCode'] == TermCode %}
		<h1>{{term['TermDescr']}}</h1>
	{% endif %}
{% endfor %}

{% for school in schools %}
	{% if school['SchoolCode'] == SchoolCode %}
		<h2>{{school['SchoolDescr']}}</h2>
	{% endif %}
{% endfor %}

{% for subject in subjects %}
	{% if subject['SubjectCode'] == SubjectCode %}
		<h3>{{ subject['SubjectDescr']}}</h3>
	{% endif %}
{% endfor %}

{% for course in courses %}
	{% if course['CatalogNumber'] == CourseCode %}
		<h4>Course Name: {{ course['CourseDescr']}}</h4>
	{% endif %}
{% endfor %}

<div>
	<p>Course Discription:</p>
	<p>{{course_descr}}</p>
</div>

<div>
	Sections:<br>

	{% for section in sections %}
		
	{% endfor %}
	
</div>



{% endblock %}