{% extends "base.html" %}
 
{% block content %}
 
<select id="person">
{% for s in staff %}
    <option value="{{ s }}">{{ s }}</option>
{% endfor %}
</select>
 
<button id="submit">submit</button>
 
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $(function() {
        $("#submit").click(function() {
            $.get("/get_fave_color", {person: $("#person").val()} )
                .done(function(data) {
                    alert(data);
                });
        });
    });
</script>
 
{% endblock %}