{% extends "base.html" %}

{% block content %}



{% for term in terms %}
	{% if term['TermCode'] == TermCode %}
		<h1>{{term['TermDescr']}}</h1>
	{% endif %}
{% endfor %}

{% for school in schools %}
	{% if school['SchoolCode'] == SchoolCode %}
		<h2>{{school['SchoolDescr']}}</h2>
	{% endif %}
{% endfor %}


 <h2>Subjects:</h2>
		

		{% for subject in subjects %}
		<a href = "/terms/{{TermCode}}/schools/{{SchoolCode}}/subjects/{{subject['SubjectCode']}}">{{ subject['SubjectDescr']}} </a><br>
	
		{% endfor %}

		{% if api_error %}
		<b>Getting the API terms failed!</b>
		Did you set the API token?
		{% endif %}

		{% endblock %}
